{
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "prettier",
    "plugin:react/recommended"
  ],
  "globals": {
    "React": "readonly"
  },

  "rules": {
    "no-unsaved-vars": [1, { "args": "after-used", "argsIgnorePattern": "^_" }]
  }
}
